<div class="content gallery">
	<a class="sv" href="assets/img/images/1.jpg"><img src="assets/img/dummy.png" data-original="assets/img/images/1.jpg" alt="Alt"></a>
	<a class="sv" href="assets/img/images/2.jpg"><img src="assets/img/dummy.png" data-original="assets/img/images/2.jpg" alt="Alt"></a>
	<a class="dr" href="assets/img/images/3.jpg"><img src="assets/img/dummy.png" data-original="assets/img/images/3.jpg" alt="Alt"></a>
	<a href="assets/img/images/4.jpg"><img src="assets/img/dummy.png" data-original="assets/img/images/4.jpg" alt="Alt"></a>
	<a class="dr" href="assets/img/images/5.jpg"><img src="assets/img/dummy.png" data-original="assets/img/images/5.jpg" alt="Alt"></a>
	<a class="dr" href="assets/img/images/6.jpg"><img src="assets/img/dummy.png" data-original="assets/img/images/6.jpg" alt="Alt"></a>
	<a class="dr" href="assets/img/images/7.jpg"><img src="assets/img/dummy.png" data-original="assets/img/images/7.jpg" alt="Alt"></a>
	<a class="sv"  href="assets/img/images/8.jpg"><img src="assets/img/dummy.png" data-original="assets/img/images/8.jpg" alt="Alt"></a>
	<a class="dr" href="assets/img/images/9.jpg"><img src="assets/img/dummy.png" data-original="assets/img/images/9.jpg" alt="Alt"></a>
	<a class="dr" href="assets/img/images/10.jpg"><img src="assets/img/dummy.png" data-original="assets/img/images/10.jpg" alt="Alt"></a>
	<a class="sv" href="assets/img/images/1.jpg"><img src="assets/img/dummy.png" data-original="assets/img/images/1.jpg" alt="Alt"></a>
	<a class="dr" href="assets/img/images/2.jpg"><img src="assets/img/dummy.png" data-original="assets/img/images/2.jpg" alt="Alt"></a>
	<a class="sv" href="assets/img/images/3.jpg"><img src="assets/img/dummy.png" data-original="assets/img/images/3.jpg" alt="Alt"></a>
	<a class="sv" href="assets/img/images/4.jpg"><img src="assets/img/dummy.png" data-original="assets/img/images/4.jpg" alt="Alt"></a>
	<a href="assets/img/images/5.jpg"><img src="assets/img/dummy.png" data-original="assets/img/images/5.jpg" alt="Alt"></a>
	<a href="assets/img/images/6.jpg"><img src="assets/img/dummy.png" data-original="assets/img/images/6.jpg" alt="Alt"></a>
	<a class="sv" href="assets/img/images/7.jpg"><img src="assets/img/dummy.png" data-original="assets/img/images/7.jpg" alt="Alt"></a>
	<a href="assets/img/images/8.jpg"><img  src="assets/img/dummy.png" data-original="assets/img/images/8.jpg" alt="Alt"></a>
	<a href="assets/img/images/9.jpg"><img  src="assets/img/dummy.png" data-original="assets/img/images/9.jpg" alt="Alt"></a>
	<a href="assets/img/images/10.jpg"><img  src="assets/img/dummy.png" data-original="assets/img/images/10.jpg" alt="Alt"></a>
</div>


<div class="filter_items">
	<button class="filter_label active">Все</button>
	<button class="filter_label" data-filter=".sv">Свадьба</button>
	<button class="filter_label" data-filter=".dr">День рождения</button>	
</div>