<div class="content">
	<div class="content_header">
		<img src="/assets/img/photo.jpg" alt="Alt">
		<h1>Александр Прокопский</h1>
		<p>Фотограф, дизайнер, иллюстратор</p>
	</div>
	<div class="content_body">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga illo explicabo sequi perferendis unde distinctio quidem qui, optio totam deserunt! Eaque consectetur officia officiis repellendus mollitia, molestiae alias ratione architecto?</p>
		<p>Iure consequatur autem maiores soluta facere voluptas omnis eum vel iste quam quod similique, libero laborum, eius accusantium blanditiis nesciunt ab cupiditate. Tenetur non laborum distinctio quis officia consectetur aspernatur.</p>
		<p>Id non minima, possimus quo similique. Amet sunt nostrum culpa eaque, laborum laboriosam architecto placeat. Et, eligendi nisi, quaerat voluptatum odit, ea impedit nostrum quae reprehenderit alias, eaque id adipisci.</p>
	</div>
</div>



