<div class="contact content">
	<div class="content_header">
		<h1>Обратная связь</h1>
		<p>Свяжитесь со мной одним из следующих способов</p>
	</div>
	<div class="content_body">
	
	<div class="row form_contacts">
		<div class="col-sm-6">
			<ul class="ul_contacts">
			<li><h3><i class="icon icon-basic-webpage-img-txt"></i>Мой сайт :</h3>
			<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quasi </a></p>
			</li>
			<li><h3><i class="icon icon-basic-geolocalize-05">	
			</i>Адрес :</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quasi </p>
			</li>
			<li><h3><i class="icon icon-basic-smartphone">	
			</i>Телефон :</h3>
			<p>+8(095)111-11-11</p>
			</li>
		</ul>
		</div>
		<div class="col-sm-6">
			<form class="callback" id="callback">
			<h3>Оставить заявку</h3>
				<label>
				Ваше  имя
					<input type="text" name="name" placeholder="Иванов Иван">
				</label>
				
				<label>
				Ваш емейл
					<input type="text" name="name" placeholder="youremail@mail.com">
				</label>
				<label>
				Ваш комментарий
					<textarea name="message" placeholder="Ваше сообщение"></textarea>
				</label>
				<button type="submit">Отправить заявку </button>
			</form>
		</div>
	</div>
	
	
		
	</div>
</div>



#